**/node_modules/*
**/out/*
**/.next/*
**/dist/*
**/coverage/*
**/public/*
generated
/src/server
/src/ssr
/src/schema
**/.storybook/*
**/storybook-static/*
/packages
yarn.lock
.yarn
.yarnrc.yml
.pnp.js
