@import '~@prisma-cms/editor/src/styles/less/styles.css';

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif, Tahoma, Helvetica;
  font-size: 14px;
  padding: 0;
  margin: 0;
}

#content {
  margin: 20px 0;
  padding: 0 16px;
}

a {
  color: #17528c;
  text-decoration: none;

  &:hover {
    color: #111;
  }
}

.DraftEditor-editorContainer {
  line-height: 1.6;
}

table {
  width: 100%;

  &.prisma-cms {
    border-collapse: collapse;

    td,
    th {
      padding: 3px 5px;
    }

    &.bordered {
      td,
      th {
        border: 1px solid #ddd;
      }
    }

    &.centered {
      td,
      th {
        text-align: center;
      }
    }
  }
}
