@import 'src/components/Renderer/pages/Root/components/society/technologies/TechnologyLessonUser/styles.scss';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif, Tahoma, Helvetica;
  font-size: 14px;
}
* {
  box-sizing: border-box;
}

#__next {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  > #content {
    flex-grow: 1;
    overflow: auto;
  }
}

a {
  color: #17528c;
  text-decoration: none;

  &:hover {
    color: #111;
  }
}

.DraftEditor-editorContainer {
  line-height: 1.6;
}

table {
  width: 100%;

  &.prisma-cms {
    border-collapse: collapse;

    td,
    th {
      padding: 3px 5px;
    }

    &.bordered {
      td,
      th {
        border: 1px solid #ddd;
      }
    }

    &.centered {
      td,
      th {
        text-align: center;
      }
    }
  }
}
